<html lang="en">
    <head>
        {% block head %}
        <title>wedefine</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        {% endblock %}
    </head>
    <body>
        <a href="/">
            <h1 style="text-align: center;">
                Wedefine
            </h1>
        </a>
        <p style="text-align: center;">
            The open source urban dictionary clone.
        </p>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>